body{
    background-color: #82AAE3;
}
.textspace{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.heading{
    display: flex;
    justify-content: center;
}
#cont{
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}
#spam{
    display: block;
    color: #BEFFF7;
}
span{
    color: black;
}